%div{:id => "chart1"}
  %svg{:style => "height: 500px;"}


:javascript
  var d = new Date();
  var two_years_ago = (d.getFullYear() - 2) + "/" + d.getMonth() + "/" + d.getDate();
  var last_year = (d.getFullYear() - 1) + "/" + d.getMonth() + "/" + d.getDate();
  var today = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
  var tmrw = d.getFullYear() + "/" + d.getMonth() + "/" + (d.getDate() + 1);
  var params1 = {
    "url":          '#{query_fetch_path}',
    "ser_type1":    "bookings",
    "ser_value":    "rev",
    "city1":         "",
    "time_format":  "month",
    "sort":         "by_time_cum",
    "res_num":      "10",
    "comp":         true,
    "comp_type":    "diff",
    "start_date1":  last_year,
    "end_date1":    tmrw,
    "ser_type2":    "bookings",
    "city2":        "",
    "start_date2":  two_years_ago,
    "end_date2":    last_year,
    "chart_name":   '#chart1',
    "map_name":     '#map-canvas',
    "table_name":   '#table',
    "view":         "graph"
  };
  $(document).ready(function(){
    call_ajax(params1);
  });