%form
  %select{:id => "ser_value"}
    %option{:id => "num", :value => "num"} Number Of
    %option{:id => "rev", :value => "rev"} Revenue
    %option{:id => "heatmap", :value => "heatmap"} Heatmap
  %select{:id => "ser_type"}
    %option{:value => "bookings"} Bookings
    %option{:value => "loots"} Loots
    %option{:value => "signups"} Signups
  %select{:id => "city"}
    %option{:value => ""} All Cities
    %option{:value => "newyork"} New York
    %option{:value => "la"} LA
    %option{:value => "sf"} San Francisco
    %option{:value => "miami"} Miami Boston
    %option{:value => "atlanta"} Atlanta
    %option{:value => "austin"} Austin
    %option{:value => "chicago"} Chicago
    %option{:value => "dallas"} Dallas
    %option{:value => "denver"} Denver
    %option{:value => "houston"} Houston
    %option{:value => "vegas"} Las Vegas
    %option{:value => "philadelphia"} Philadelphia
    %option{:value => "phoenix"} Phoenix
    %option{:value => "portland"} Portland
    %option{:value => "seattle"} Seattle
    %option{:value => "dc"} Washington DC
    %option{:value => "sd"} San Diego
  Start date:
  %input{:type => "text", :class => "datepicker", :id => "start_date"}
  End date:
  %input{:type => "text", :class => "datepicker", :id => "end_date"} 
  %span{:class => "heatmap-hidden"}
    %select{:id => "sort"}
      %option{:value => "by_time"} By Time
      %option{:value => "by_cats"} By Service Category
      %option{:value => "by_location"} By Location
    %select{:id => "time_format"}
      %option{:value => "year"} Year
      %option{:selected => "selected", :value => "month"} Month
      %option{:value => "day"} Day
      %option{:value => "hour"} Hour
    %select{:id => "cats_num"}
      %option{:value => 5} Top 5
      %option{:value => 10} Top 10
      %option{:value => 25} Top 25
%form{:id => "range2", :class => "heatmap-hidden"}
  %select{:id => "ser_type2"}
    %option{:value => "bookings"} Bookings
    %option{:value => "loots"} Loots
    %option{:value => "signups"} Signups
  %select{:id => "city2"}
    %option{:value => ""} All Cities
    %option{:value => "newyork"} New York
    %option{:value => "la"} LA
    %option{:value => "sf"} San Francisco
    %option{:value => "miami"} Miami Boston
    %option{:value => "atlanta"} Atlanta
    %option{:value => "austin"} Austin
    %option{:value => "chicago"} Chicago
    %option{:value => "dallas"} Dallas
    %option{:value => "denver"} Denver
    %option{:value => "houston"} Houston
    %option{:value => "vegas"} Las Vegas
    %option{:value => "philadelphia"} Philadelphia
    %option{:value => "phoenix"} Phoenix
    %option{:value => "portland"} Portland
    %option{:value => "seattle"} Seattle
    %option{:value => "dc"} Washington DC
    %option{:value => "sd"} San Diego
  Start date:
  %input{:type => "text", :class => "datepicker", :id => "start_date2"}
  End date:
  %input{:type => "text", :class => "datepicker", :id => "end_date2"}

%form
  %span{:class => "heatmap-hidden"}
    %input{:type => "checkbox", :id => "comp"}Comparison
  %button{:type => "button", :checked => "true", :id => "submit"}Submit

/ Export to CSV button
/ %button{:id => "export_data", :path => "#{query_fetch_path}.csv"}Export to CSV

%div{:id => "chart1"}
  %svg{:style => "height: 500px;"}
%div{:id => "map-canvas"}

:javascript
  var d = new Date(Date.now());
  d = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
  $( "#end_date" ).val(d);
  $( "#end_date2" ).val(d);

  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy/mm/dd"
    });
  });

  // Hides the second set of data option. Show if checkbox is checked.
  $("#range2").addClass("hidden");
  $("#comp").click(function() {
    if( $(this).is(':checked')) {
        $("#range2").removeClass("hidden");
    } else {
        $("#range2").addClass("hidden");
    };
  });
  
  // Hide number of results selector for time-based data. Show for categorical data.
  $("#cats_num").addClass("hidden");
  function sort_change(sort){
    if( $(sort).val() == "by_cats" || $(sort).val() == "by_location") {
        $("#cats_num").removeClass("hidden");
        $("#time_format").addClass("hidden");
    } else {
        $("#cats_num").addClass("hidden");
        $("#time_format").removeClass("hidden");
    };
  };
  $("#sort").change(function(){
    sort_change("#sort");
  });

  // Hide service type dropdown for user signup data.
  function ser_type_change(ser_type){
    if ($(ser_type).val() == "signups"){
      $("#sort").addClass("hidden");
      $("#cats_num").addClass("hidden");
      $("#time_format").removeClass("hidden");
    } else {
      $("#sort").removeClass("hidden");
      sort_change("#sort");
    };
  };
  $("#ser_type").change(function(){
    ser_type_change("#ser_type")
  });
  $("#ser_type2").change(function(){
    ser_type_change("#ser_type2")
  });

  // Heatmap-related hiding
  $("#ser_value").change(function(){
    if ($(this).val() == "heatmap"){
      $(".heatmap-hidden").addClass("hidden");
    } else {
      $(".heatmap-hidden").removeClass("hidden");
    };
  });

  var ajax_data;
  $("#submit").click(function(){
    ajax_graph_data = [];

    var ajax_options = {
      type: "GET",
      url: '#{query_fetch_path}',
      data: {
        ser_type: $("#ser_type").val(),
        ser_value: $("#ser_value").val(),
        city: $("#city").val(),
        time_format: $("#time_format").val(),
        sort: $("#sort").val(),
        res_num: $("#cats_num").val(),
        comp: $("#comp").is(':checked'),
        start_date: $("#start_date").val(),
        end_date: $("#end_date").val(),
        ser_type2: $("#ser_type2").val(),
        city2: $("#city2").val(),
        start_date2: $("#start_date2").val(),
        end_date2: $("#end_date2").val(),
      },
      dataType: "json",
      success: function(data){
        ajax_data = data;
        var f_data = format_data(data, $("#ser_value").val(), $("#time_format").val(), $("#comp").is(':checked'), $("#sort").val(), $("#cats_num").val());
        if ($("#ser_value").val() == "heatmap"){
          $("#chart1").addClass("hidden");
          $("#map-canvas").removeClass("hidden");
        } else {
          $("#chart1").removeClass("hidden");
          $("#map-canvas").addClass("hidden");
        };

        add_graph(graph_data(f_data, $("#ser_value").val()), $("#ser_value").val(), $("#ser_type").val(), $("#city").val(), $("#sort").val(), "#map-canvas");
        
      },
      error: function(){
        console.log("error");
      }
    };
    $.ajax(ajax_options);
  });

