%form
  %select{:id => "ser_type"}
    %option{:value => "bookings"} Bookings
    %option{:value => "loots"} Loots
  %select{:id => "ser_value"}
    %option{:id => "num", :value => "num"} Number Of
    %option{:id => "rev", :value => "rev"} Revenue
  %select{:id => "city"}
    %option{:value => ""} All Cities
    %option{:value => "newyork"} New York
    %option{:value => "la"} LA
    %option{:value => "sf"} San Francisco
    %option{:value => "miami"} Miami Boston
    %option{:value => "atlanta"} Atlanta
    %option{:value => "austin"} Austin
    %option{:value => "chicago"} Chicago
    %option{:value => "dallas"} Dallas
    %option{:value => "denver"} Denver
    %option{:value => "houston"} Houston
    %option{:value => "vegas"} Las Vegas
    %option{:value => "philadelphia"} Philadelphia
    %option{:value => "phoenix"} Phoenix
    %option{:value => "portland"} Portland
    %option{:value => "seattle"} Seattle
    %option{:value => "dc"} Washington DC
    %option{:value => "sd"} San Diego
  %select{:id => "time_format"}
    %option{:value => "year"} Year
    %option{:selected => "selected", :value => "month"} Month
    %option{:value => "day"} Day
    %option{:value => "hour"} Hour
  %select{:id => "sort"}
    %option{:value => "by_time"} By Time
    %option{:value => "by_cats"} By Service Category
    %option{:value => "by_location"} By Location
  %select{:id => "cats_num"}
    %option{:value => 5} Top 5
    %option{:value => 10} Top 10
    %option{:value => 25} Top 25

%form{:id => "time_based"}
  %input{:type => "checkbox", :id => "comp"}Time Comparison
  %div{:id => "range1"}
    Range 1:
    Start date:
    %input{:type => "text", :class => "datepicker", :id => "start_date"}
    End date:
    %input{:type => "text", :class => "datepicker", :id => "end_date"} 
    %button{:type => "button", :checked => "true", :id => "submit"}Submit
  %div{:id => "range2"}
    Range 2:
    Start date:
    %input{:type => "text", :class => "datepicker", :id => "start_date2"}
    End date:
    %input{:type => "text", :class => "datepicker", :id => "end_date2"} 
%button{:id => "export_data", :path => "#{query_fetch_path}.csv"}Export Data

%div{:id => "chart1"}
  %svg{:style => "height: 500px;"}

:javascript
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

  var d = new Date();
  var output = d.getFullYear() + '-' +
    (d.getMonth()<10 ? '0' : '') + (d.getMonth() + 1) + '-' +
    (d.getDay()<10 ? '0' : '') + d.getDay();
  $( "#end_date" ).val(output);

  $("#range2").hide();
  $("#comp").click(function() {
    if( $(this).is(':checked')) {
        $("#range2").show();
    } else {
        $("#range2").hide();
    };
  });

  $("#cats_num").hide();
  $("#sort").change(function(){
    if( $(this).val() == "by_cats" || $(this).val() == "by_location") {
        $("#cats_num").show();
    } else {
        $("#cats_num").hide();
    };
  });

  $("#ser_value").children().hide();

  var ajax_data;
  $("#submit").click(function(){
    ajax_graph_data = [];

    var ajax_options = {
      type: "GET",
      url: '#{query_fetch_path}',
      data: {
        ser_type: $("#ser_type").val(),
        ser_value: $("#ser_value").val(),
        city: $("#city").val(),
        time_format: $("#time_format").val(),
        sort: $("#sort").val(),
        res_num: $("#cats_num").val(),
        comp: $("#comp").is(':checked'),
        start_date: $("#start_date").val(),
        end_date: $("#end_date").val(),
        start_date2: $("#start_date2").val(),
        end_date2: $("#end_date2").val(),
      },
      dataType: "json",
      success: function(data){
        ajax_data = data;
        var f_data = format_data(data, $("#time_format").val(), $("#comp").is(':checked'), $("#sort").val(), $("#cats_num").val());
        add_graph(graph_data(f_data), $("#ser_type").val(), $("#ser_value").val(), $("#sort").val());
      },
      error: function(){
        console.log("error");
      }
    };
    $.ajax(ajax_options);
  });
