:javascript
  //Data
  var data = #{@results.to_json};
  var xvals = new Array();
  var yvals = new Array();
  for (var i=0; i<data.length; i++){
    xvals[i] = new Date(data[i].ctime).getHours();
    yvals[i] = data[i].countnum;
    console.log(xvals[i] + ", " + yvals[i] + "<br>");  
  }
  
  var margin = {top: 30, right: 10, bottom: 200, left: 70}
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

  var y = d3.scale.linear()
      .domain([0, Math.abs(d3.max(yvals))])
      .range([height,0])
      .nice();

  var x = d3.scale.ordinal()
      .domain(d3.range(data.length))
      .rangeRoundBands([0, width]);

  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  var xAxis = d3.svg.axis()
      .scale(x)
      .tickValues(xvals)
      .orient("bottom");

  var svg = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.selectAll(".bar")
      .data(yvals)
      .enter().append("rect")
      .attr("y", function(d) { return y(Math.max(0, d)); })
      .attr("x", function(d, i) { return x(i); })
      .attr("height", function(d) { return Math.abs(y(d) - y(0)); })
      .attr("width", x.rangeBand());

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0, " + height + ")")
      .call(xAxis)
      .selectAll("text")  
          .style("text-anchor", "end")
          .attr("dx", -10)
          .attr("dy", "1em")
          .attr("transform", function(d) {
              return "rotate(0)" 
              });

  // svg.selectAll("text")
  //     .attr("class", "label")
  //     .data(yvals)
  //     .enter().append("text")
  //     .attr("y", function(d) { return d; })
  //     .attr("x", function(d,i) { return x(i) + x.rangeBand() / 2; })
  //     .attr("dy", 20)
  //     .text(String);

  svg.append("text")
      .attr("class", "y label")
      .attr("text-anchor", "end")
      .attr("x", - height * .5)
      .attr("dy", - 60)
      .attr("transform", "rotate(-90)")
      .text("# of Bookings");

  svg.append("text")
      .attr("class", "x label")
      .attr("text-anchor", "end")
      .attr("y", height+50)
      .attr("dx", width/2)
      .text("Time");

  svg. append("text")
      .attr("class", "title")
      .attr("text-anchor", "middle")
      .attr("x", (width + margin.left + margin.right)/2)
      .text("Bookings frequency by time of day")